.headers {
  font-size: 2rem;
  margin: 0;
}

.poll {
  font-size: 0.9rem;
}
.poll ul {
  padding: 0;
  width: 300px;
  margin: auto;
}
.poll ul li {
  list-style: none;
  border: 2px solid #00ddf9;
  border-radius: 3px;
  line-height: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.poll ul li button {
  border: none;
  background: transparent;
  outline: none;
  height: 100%;
  width: 100%;
  display: block;
  padding: 15px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

/* .poll ul li span {
  display: none;
}
.poll ul.results li button span {
  display: inline-block;
  margin-left: 8px;
}
.poll ul.results li {
  border-color: #999;
} */
.proposal{
  /* display: flex; */
    border: 1px solid rgba(214, 207, 223, 0.1);
    background-color: rgba(214, 207, 223, 0.1);
    box-shadow: -15px 10px 17px rgba(10, 10, 10, 0.25);
    border-radius: 0.5rem;
    color: white;
    padding: .5rem 1.5rem;
    width: 100%;
    margin-top: 1rem;
}




.poolCard{
    padding: .5rem 1.5rem;
    min-height: 100%;
    min-width: 47%;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* backdrop-filter: blur(5px) !important; */
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
    background-size: cover;
    border-radius: 1rem;
    transition: all 0.3s ease-out;
}

.VoteOption{
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
    cursor: pointer;
    width: 50%;
}

.voteInput{
  -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    height: 1.2rem;
    width: 1.2rem;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.7rem;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    position: relative;
    z-index: 1000;

}

.voteInput:hover {
  background: #9faab7;
}

.voteInput:checked {
  background: #570360;
}

.voteInput:checked::before {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  content: '+';
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: 'Font Awesome 5 Free';
}

.voteInput:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #570360;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.voteInput {
  border-radius: 50%;
}

.voteInput::after {
  border-radius: 50%;
}

@keyframes click-wave {
  0% {
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.35;
    position: relative;
  }

  100% {
    height: 100px;
    width: 100px;
    margin-left: -40px;
    margin-top: -40px;
    opacity: 0;
  }
}




