.sidebar {
    width: 18vw;
    height: 78vh;
    position: fixed;
    margin-top: 8rem;
    margin-left: 3rem;
    border-radius: 1rem;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(25px) !important;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
    background-size: cover;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style: none;
    margin-top: 3rem;
}

.sidebar li {
    margin-bottom: 15px;
    padding-left: 1.5rem;
    transition: all 0.3s ease-out;
    
}

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.sidebar li:hover {
    padding-left: 3rem;
    background-color: rgba(204, 204, 204, 0.483);
    border-right: 5px solid;
    border-image: linear-gradient(to bottom, #6253e1, #852D91, #A3A1FF) 1;
}

.active{
    background-color: rgba(204, 204, 204, 0.483);
    border-right: 5px solid;
    border-image: linear-gradient(to bottom, #6253e1, #852D91, #A3A1FF) 1;
}

.dashboard{
        background: url("../images/home2.png") no-repeat;
        background-size: cover;
}

.Swappad{
            background: url("../images/swapp3.png") no-repeat;
        background-size: cover;
}

.Launch{
        background: url("../images/rocketiconW.png") no-repeat;
        background-size: cover;
}

.presale{
        background: url("../images/presale.png") no-repeat;
        background-size: cover;   
}

.p2p{
    background: url("../images/p2p.png") no-repeat;
    background-size: cover;
}

.dao{
    background: url("../images/governance.png") no-repeat;
    background-size: cover;
}